
.container{
    display: flex;
    background: rgba(249, 249, 249, 0.1);
    padding: 6px;
    gap: 6px;
    border-radius: 8px;



    >button{
        height: 28px;
        width: 28px;
    }

    >span{
        width: 25px;padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
