.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s;
  background: rgba(0, 0, 0, 0.616);

  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);

    position: relative;
    width: 448px;
    height: 652px;
    padding: 64px 90px 68px 90px;
    border-radius: 32px;
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    gap: 8px;

    > button {
      font-size: 32px;
      border-radius: 16px;
    }

    > h3 {
      width: 100%;
      grid-column: 1 / 4;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > div {
      width: 100%;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      height: 48px;
    }
  }
}

.sign {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > span {
    font-size: 48px;
    width: 30px;
    display: flex;
    justify-content: center;
  }
}

.check {
  background: rgba(94, 135, 8, 1) !important;
}
