.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1312px;
  
    >div {
      width: 526px;
      height: 412px;
      background:#494A4C;
      box-shadow: 5px 5px 20px 0px #00000080;
      border-radius: 32px;
      padding: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 32px;
  
      >h3{
        font-weight: 600;
      }
  
      >img {
        height: 96px;
        width: 96px;
      }
  
      >div {
        display: flex;
        width: 100%;
        gap: 16px;
  
        >button{
          width: 100%;
          font-size: 20px;
        }
  
        >button:last-child{
          background: #5e8708;
        }
      }
    }
  }