.sectionContainerCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8px 0px;
  border-bottom: 2px solid #98989a60;
}

.containerCategories {
  max-width: 160px;
  max-height: 72px;
  min-width: 160px;
  min-height: 72px;
  border-radius: 8px;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.containerCategories {
  background-color: #a75c39;
}

.containerCategories:hover {
  filter: brightness(0.9);
}
.containerCategories:active {
  transform: scale(0.95);
}
